$color_white: #FFF;
$color_light_white_smoke: #F9F9F9;
$color_white_Smoke: #F5F5F5;
$color_revell: #EEEEEE;
$color_smoke_grey: #E6E6E6;
$color_light_grey: #DDDDDD;
$color_grey: #CCCCCC;
$color_wii: #999999;
$color_dark_grey: #666666;
$color_high_dark_grey: #333333;

$color_cloud: #E0E6ED;
$color_ice: #F9FAFC;

$color_positive: #F2D06B;



/* Key 明るい */
$key-light-color: #EB7000;
/* Key 通常 */
$key-color: #EB5505;

/* 良い状態 */
$good1-color: #98E1B3;
/* 良い状態 */
$good2-color: #FBF8E5;
/* 良い状態 */
$good3-color: #FAF3C8;
/* 悪い状態 or 重要 */
$bad-color: #F25050;
/* メニュー文字など */
$menu-color: #6D8CA0;
/* 見出し文字など */
$title-color: #617886;
/* リンク */
$link-color: #1972BF;

/* フォーム内のフォントサイズ */
$form-font-size: 1.4rem;
